<style>
  .spotlight {
    margin: auto;
  }
  #gallery-box-{{include.id}}>.spotlight>img {
    margin: 1vw;
    /* height: 400px; */
    width: {{include.width}}vw;
    display: block;
  }
  #spotlight.menu {
    transform: none;
    -webkit-transform: none;
  }
  #gallery-box-{{include.id}} {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>

<div id="gallery-box-{{include.id}}">
{% if include.files %}
{% for file in include.files %}
<a class="spotlight" href="{{file}}" data-animation="fade">
  <img src="{{file}}">
</a>
{% endfor %}
{% endif %}

{% if include.path %}
{% for image in site.static_files %}
{% if image.path contains include.path %}
{% if image.path contains "webp" %}
{% unless image.path contains "thumbnail" %}
<a class="spotlight" href="{{image.path}}" data-animation="fade">
  <img src="{{image.path}}">
</a>
{% endunless %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

</div>